.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header {
  background-color: rgb(33, 119, 33);
  color: white;
  text-align: left;
  padding: 5px 0 5px 0;
}

#nav {
  background-color:rgb(53, 136, 53);
  padding: 5px 0 5px 0;
}

.toy-card {
  text-align: center;
  width: 23%;
  float: left;
  background-color: aquamarine;
  margin: 1%;
  padding-top: 1%;
  border-radius: 12px;
}

.toy-card-img {
  width: 90%;
  border-radius: 12px
}