* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* shared */

form {
  background-color: rgb(240, 238, 238);
  /* margin: 0 15%; */
  padding: 25px;
  /* border-radius: 15px; */
}

input {
  width: 80%;
  padding: 5px 10px;
  margin: 8px 15%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 2.5rem
}

label{
  margin: 15%;
  text-align: left;
  padding: 0px
}

button[type=submit]{
  margin: 10px 15% 0px;
  vertical-align: center;
}

/* Header.js */

.header {
  background-color: white;
  color: rgb(53, 136, 53);
  text-align: left;
  position: fixed;
  z-index: 10;
  width: 100vw;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  height: 6rem;
  /* width: 100%; */
}

#header-logo{
  top: 0;
  left: 0;
  width: 70%;
  max-width: 350px;
  min-width: 200px;
}

#header__cart-thumb {
  text-align: right;
  flex: end;
  margin-right: 3rem;
  font-size: 1.25rem;
}

#header__cart-thumb:hover{
  cursor: pointer;
}

  /* Nav.js */

#nav {
  background-color:rgb(53, 136, 53);
  position: fixed;
  z-index: 25;
  top: 5.5rem;
  width: 100vw;
  display: flex;
  justify-content: right;
  padding: 12px;
}

.content{
  position: relative;
  top: 120px;
  z-index: 1;
}

.content.login-signup {
  top: 150px
}

.toggle-button {
  display: active;
  position: fixed;
  top: 1.5rem;
  margin: 0; 
  width: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  padding-bottom: 0;
  vertical-align: middle;
  align-items: left;
}

.toggle-button:focus{
  outline: none
}

.toggle-button__bar {
  width: 100%;
  height: 0.25rem;
  background:rgb(53, 136, 53);
  display: block;
  margin: 0.4rem 0;
  border-radius: 2px; 
}

.main__nav-link {
  display: none;
}

.main__nav-link:hover {
  display: none;
}

.main__nav-logout {
  display: none
}

#nav.no-login {
  display: block;
  text-align: right;
  padding: 12px;
}  

.main__nav-link.no-login {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color:rgb(53, 136, 53);
  padding: 12px 12px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px
}

.main__nav-link.no-login:hover {
  display: inline-block;
  background-color: rgb(174, 202, 177);
}

/* Home.js */

#home {
  text-align: center;
  margin: 0 10%
}

.home__how-to-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 60rem;
  margin: auto
}

.home__how-to-data{
  width: 250px;
  background: rgb(241, 241, 241);
  box-shadow: 5px 5px 8px rgb(159, 159, 159);
  border-radius: 0.5rem;
  margin: 20px 0;
}

.home__how-to-data h3 {
  margin-bottom: 2rem
}

.home__how-to-image {
  width: 100%
}

/* LoginForm.js and LoginPage.js */

.login-form__title,
.signup-form__title {
  margin: 10px 5%;
  padding: 0 25px;
}

form {
  background-color: rgb(240, 238, 238);
  padding: 25px;
}

input {
  width: 90%;
  margin: 0 auto 1rem;
  display: block;
}

label,
button {
  margin: 5px 5%;
  display: block;
}

.login-form button,
.signup-form button {
  width: 6rem;
}

.login-page {
  padding: 0 25px;
  margin: 5px 5%
}

.login-page button {
  display: block;
  margin-top: 10px;
  width: 6rem;
  padding: 10px 0;
}

/* CartItemCard.js */

.all-cart-items{
  width: 95%;
  margin: 30px auto;
  border-style: solid;
  border-width: 2px;
  /* padding: 15px; */
  position: relative;
}

.cart-item-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 12px 12px 12px 0;
  width: 100%;
}

.last-cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: .5rem .5rem .5rem 0; */
  padding: 12px 12px 12px 0;
}

.cart-item-card-button{
  font-size: 14px;
  padding: 5px 10px
}

.cart-item-image {
  width: 100px;
  
}

/* MobileNav.js */

.modal {
  position: fixed;
  top: 54px;
  left: 0;
  /* width: 1vw;
  height: 1vh; */
}

#mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 101;
  left: 0;
  margin-top: 54px;
  background:rgb(53, 136, 53);
  width: 100vw;
  height: 100vh;
  padding: 2rem 1rem 0 1rem;
  text-align: left;
}

.mobile__nav-link {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 1.25rem;
  margin: 1rem 0;
}

.mobile__nav-logout {
  margin-top: 2rem;
  width: 10rem;
  background-color:#ccc;
  color:rgb(53, 136, 53)
}

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
} */

.watch-item-image {
  width: 150px;
}

button{
  background-color: rgb(53, 136, 53);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  /* margin: 0 3px 0 3px; */
  border-radius: 10px;
  transition: 0.3s;
}

button:link, button:visited{
  color: white;
  text-decoration: none;
}

button:hover{
  background-color: rgb(174, 202, 177);
}


/* ToyContainer.js and ToyCard.js */

.toy-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin: 2% 10%;
}

.toy-container__filter {
  width: 6rem;
}

.toy-card {
  text-align: center;
  width: 80%;
  background-color: rgb(238, 238, 238);
  /* padding-top: 10px; */
  border-radius: 12px;
  margin: 8px 5px
}

.toy-card:hover{
  cursor: pointer;
}

.toy-card h3 {
  margin: 8px
}

.toy-card h5{
  margin: 8px auto 5% auto;
}

.toy-card-quantity {
  margin: 30px
}


.toy-card button{
  padding: 5px 10px;
  margin: 12px 8px 15px 8px
}

/* .toy-card__qty {
  display: flex;
  flex-direction: row;
} */

label.toy-card__qty {
  width: 50%;
  display: inline;
}

.toy-card-img {
  width: 90%;
  border-radius: 12px;
  margin-top: 5%
}

.order-confirmation {
  position: absolute;
  background-color: white;
  width: 60%;
  left: 20%;
  top: 20%;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  z-index: 1;
}

.user-profile-button{
  margin: 15px 5px;
}

.inactive-cart-items{
  width: 70%;
  margin: 30px auto;
  border-style: solid;
  border-width: 2px;
  padding: 15px;
  position: relative;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

#order-confirmation-button{
  margin: 10px 5px
}

.order-confirmation-shipping{
  font-size: 1.4rem;
  margin-bottom: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

#edit-address{
  color: blue;
  text-decoration: underline;
  margin-top: 0;
  cursor: pointer;
}

hr {
  width: 60%
}

.previous-order-card{
  border-width: 2px;
  border-style: solid;
  width: 80%;
  margin: 10px auto;
  padding: 20px 0 20px;
}

.previous-order-item{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 10%
}

/* form {
  background-color: rgb(240, 238, 238);
  margin: 0 15%;
  padding: 25px;
  border-radius: 15px;
} */

/* input {
  width: 90%; 
  padding: 12px 20px;
  margin: 8px 15%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box
} */

/* label{
  margin: 15%;
  padding: 0px
} */

/* button[type=submit]{
  margin: 10px 15% 0px
} */

.previous-card-titles{
  display: inline;
  padding: 25px
}

.watch-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px dashed;
  width: 80%;
  margin: 10px auto;
}

.toy-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 130px 5% 0 5%;
}

.toy-page-img{
  /* width: 80%; */
  height: 40vh;
}

.toy-page-details{
  width: 90%;
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
  background-color: rgb(235, 233, 233);
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem
}

.toy-page-details h3{
  margin: .5rem auto;
  font-size: 2rem;
}

.toy-page-details small{
  margin: .25rem
}

.toy-page-details p{
  font-size: 1.25rem;
  margin: .5rem;
  text-align: center;
}

.toy-page-details h5{
  font-size: 1rem;
  margin: .5rem;
}

.toy-page-admin-buttons button{
  margin: 0 1% 
}

.order-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5%
}

.user-list-item{
  /* width: 20%; */
  height: 1rem;
  font-size: 0.8rem;
}

.user-list-item-end{
  width: 25%;
  height: 1.5rem;
  /* background: blue; */
}

.user-list-item-end button {
  vertical-align: center;
  margin: 0;
  width: 100px;
  padding: 5px;
  font-size: 0.8rem
}

.user-list-header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  font-size: .8rem;
}

.user-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}

.user-list__name {
  width: 27%;
}

.user-list__username {
  width: 20%
}

.user-list__admin {
  width: 10%;
}

button.disable{
  opacity: 40%;

}

button.disable:hover{
  background-color: rgb(53, 136, 53)
}



/* @media screen and (max-width: 500px) {
  .logo {
    width: 70%
  }

  #cart-thumb {
    font-size: 1.25rem;
  }
} */

@media (min-width: 40rem) {

  /* shared */

  form {
    max-width: 40rem;
    margin: auto;
    border-radius: 12px;
  }

  .content{
    top: 150px;
  }

  /* Header.js */

  .header {
    background-color: white;
    color: rgb(53, 136, 53);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 15px */

  }

  #header-logo{
    max-width: 350px;
  }

  .main__nav-logout {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  #header__cart-thumb {
    text-align: right;
    flex: end;
    margin-right: 10px;
  }

  #header__cart-thumb:hover{
    cursor: pointer;
  }

  

  /* Home.js */

  #home {
    text-align: center;
    margin: 0 10%
  }

  .home__how-to-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: nowrap;
    /* margin: auto; */
    width: 90%;
  }

  .home__how-to-data{
    width: 250px;
    height: 250px;
    margin: 10px;
    padding: 10px
  }

  .home__how-to-data h3{
    font-size: 100%;
  }

  .home__how-to-image {
    max-width: 10rem;
    width: 100%;
  }

  /* LoginForm.js */

  .content.login-signup {
    max-width: 40rem;
    margin: 0 auto;
  }

  .login-form__title,
  .signup-form__title {
    margin: 10px 0;
    padding: 0;
  }

  .login-form form,
  .signup-form form { 
    /* width: 40rem; */
    margin: auto;
    padding: 25px;
    border-radius: 15px;
  }

  .login-form input 
  .signup-form input {
    width: 32.5rem;
  }

  .login-form label,
  .login-form button,
  .signup-form label,
  .signup-form button {
    margin: 0.5rem 2rem
  }

  .login-page {
    margin: 0;
    padding: 0;
  }

  .login-page button {
    display: inline;
  }

  /* Nav.js */

  #nav {
    display: block;
    text-align: right;
    padding: 12px;
  }  

  .main__nav-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color:rgb(53, 136, 53);
    padding: 12px 12px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px
  }
  
  .main__nav-link:hover {
    display: inline-block;
    background-color: rgb(174, 202, 177);
  }

  .toggle-button,
  #mobile-nav,
  .backdrop {
    display: none;
  }

  .main__nav-logout {
    text-decoration: none;
    color: white;
    background-color:rgb(53, 136, 53);
    padding: 12px 12px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
  }

  /* UserList.js UserListItem.js */

  /* .user-list-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    font-size: .8rem;
  } */
  
  .user-list-header,
  .user-list{
    margin: 0 8%;
    font-size: 1.2rem;
    justify-content: space-evenly;
  }

  .user-list-item-end {
    text-align: right;
  }

  .user-list-item{
    /* width: 20%; */
    height: 1rem;
    font-size: 1rem;
  }
  
  .user-list-item-end button{
   padding: 0.4rem 0.8rem;
   width: 8rem;
   font-size: 1rem;
  }

  /* ToyPage.js */

  .toy-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 200px 5% 0 5%;
  }

  .toy-page-img{
    height: 100%;
    width: 60%
  }

  .toy-page-details{
    width: 35%;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    background-color: rgb(235, 233, 233);
    border-radius: 10px;
    padding-bottom: 30px;
    margin: 0; 
    padding: 10px 0;
  }

  .toy-page-details h3{
    margin: .5rem auto;
    font-size: 2rem;
  }
  
  .toy-page-details small{
    margin: .25rem
  }
  
  .toy-page-details p{
    font-size: 1.25rem;
    margin: .5rem;
    text-align: center;
  }
  
  .toy-page-details h5{
    font-size: 1rem;
    margin: .5rem;
  }

  .toy-page-admin-buttons {
    margin: .5rem;
  }
  
  .toy-page-admin-buttons button{
    margin: 2rem 2.5%;
    width: 45%;
    max-width: 7rem;
    font-size: 85%;
    padding: 5% 
  }

  .toy-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2% 10%;
  }
  
  .toy-container__filter {
    margin: 0 10% 0 70%
  }
  
  .toy-card {
    text-align: center;
    width: 225px;
    background-color: rgb(238, 238, 238);
    padding-top: 10px;
    border-radius: 12px;
    margin: 8px 5px
  }
  
  .toy-card h3 {
    margin: 8px
  }
  
  .toy-card h5{
    margin: 8px;
  }
  
  .toy-card-quantity {
    margin: 30px
  }
  
  
  .toy-card button{
    padding: 5px 10px;
    margin: 12px 8px 15px 8px
  }
  
  .toy-card-img {
    width: 90%;
    border-radius: 12px
  }

  /* CartItemCard.js */

.all-cart-items{
  width: 95%;
  margin: 30px auto;
  border-style: solid;
  border-width: 2px;
  /* padding: 15px; */
  position: relative;
}

.cart-item-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 2rem 2rem 2rem 1rem;
  width: 100%;
}

.cart-item-card h4{
  padding: 0 2.5rem;
}

.last-cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 2rem 2rem 2rem 1rem; */
}

.cart-item-card-button{
  font-size: 14px;
  padding: 5px 10px
}

.cart-item-image {
  width: 200px;
}

.cart-page__buttons {
  display: flex;
  justify-content: center;
}

.footer {
  padding: 2rem;
  margin-top: 22rem;
  color: #ccc;
  background: black;
}

.footer__link {
  text-decoration: none;
  color: white;
}


}

@media (max-width: 40rem) {
  #header__signup-login {
    font-size: 1.125rem;
  }
}